/* Style buttons */
.btn {
  border: none; /* Remove borders */
  color: DodgerBlue; /* White text */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
i, p {
  font-size: 20px; /* Set a font size */
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: lightBlue;
}
.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  overflow-x: hidden;
}
.main {
  margin-left: 200px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0;
}
#field-panel {
  width: 100%;
  height: 100%;
  margin: 10px;
}
.field {
  width: 55px;
  height: 55px;
  border: 1px #0f4c81 solid;
  cursor: pointer;
  margin:0;
  background-color:darkblue;
}
.field i {
  margin: 1px;
  pointer-events: none;
  font-size: 35px;
}
.field p {
  text-align: center;
  margin: 1px;
  font-size: 35px;
  font-weight: bold;
}
.field:hover{
  background: yellowgreen;
}
.back {
  background-color: #262644;
  background-size: cover;
}
.fa-flag {
  color: orange;
}
.fa-bomb {
  color: red;
}
.fa-hourglass {
  color: green;
}
.num-1 {
  color: lightblue;
  background-color: darkblue;
  background-size: cover;
}
.num-2 {
  color: magenta;
  background-color: darkmagenta;
  background-size: cover;
}
.num-3 {
  color: lightgreen;
  background-color: darkgreen;
  background-size: cover;
}
.num-4 {
  color: olivedrab;
  background-color: darkolivegreen;
  background-size: cover;
}
.num-5 {
  color:slateblue;
  background-color: darkslateblue;
  background-size: cover;
}
.num-6 {
  color: blueviolet;
  background-color: darkslateblue;
  background-size: cover;
}
.num-7 {
  color: red;
  background-color: darkred;
  background-size: cover;
}
.num-8 {
  color: blue;
  background-color: darkblue;
  background-size: cover;
}
.none {
  background-color: darkgoldenrod;
  background-size: cover;
}
.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 10;
  background-color: black;
  border-color: red;
  border-width: thick;
}
@keyframes wrongAnimation {
  to {
    border-color: black;
    border-width: thick;
  }
}




